<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Filters</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <description>Filtro para verificar se o site está em manutenção</description>
    <filter-name>manut</filter-name>
    <filter-class>br.com.rafael.exercicio1.MaintenanceFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>manut</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <description>Filtro de teste</description>
    <filter-name>filterTest</filter-name>
    <filter-class>br.com.rafael.test.FiltroTest</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>filterTest</filter-name>
    <url-pattern>/Test</url-pattern>
  </filter-mapping>
  <filter>
    <description>Filtro para realizar autenticação do usuário</description>
    <filter-name>autentica</filter-name>
    <filter-class>br.com.rafael.test.FiltroAutenticacao</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>autentica</filter-name>
    <servlet-name>mult</servlet-name>
  </filter-mapping>
  <filter>
    <description>Filtro para realizar criptografia da resposta ao usuário</description>
    <filter-name>cripta</filter-name>
    <filter-class>br.com.rafael.test.FiltroCriptografia</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>cripta</filter-name>
    <servlet-name>mult</servlet-name>
  </filter-mapping>
  
  
  <filter>
    <description>Filtro para realizar log dos atributos do escopo session</description>
    <filter-name>log</filter-name>
    <filter-class>br.com.rafael.exercicio2.LogAttrSessionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>log</filter-name>
    <servlet-name>createAttr</servlet-name>
  </filter-mapping>
  
  
</web-app>